[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #cb5d22;
  --md-primary-fg-color--dark:  #cb5d22;
  --md-default-bg-color: rgba(18, 17, 16, 1);
  --md-default-bg-color--dark: rgba(18, 17, 16, 1);
  --md-typeset-color: rgba(207, 207, 207, 1);
  --md-footer-bg-color: rgba(18, 17, 16, 1);
  --md-footer-bg-color--dark: rgba(18, 17, 16, 1);
  --md-accent-fg-color: #cb5d22;
  --md-accent-fg-color--dark: #cb5d22;
}


.md-header{
  background-color: var(--md-default-bg-color);
}

.md-header__button.md-logo img{
  height: auto;
}

.md-grid{
  max-width: 100%;
}